body {
  font-family: "Fredoka", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  min-height: 3000px;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.25s ease-in-out;
}
#header.on #logo a .logo-color {
  display: block;
}
#header.on #logo a .logo-white {
  display: none;
}
#header.on .btn-all span:nth-child(1) {
  background-color: #222;
  top: 10px;
}
#header.on .btn-all span:nth-child(2) {
  background-color: #222;
  top: 20px;
}
#header.on .btn-all span:nth-child(3) {
  background-color: #222;
  top: 30px;
}
#header.nav-up {
  top: -150px;
}
#header #logo {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 70px;
  width: 50px;
  transition: all 0.25s ease;
}
#header #logo img {
  height: 50px;
  position: absolute;
  z-index: -2;
  transition: all 0.25s ease;
}
#header #logo img.logo-color {
  display: none;
}
#header .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  z-index: 11;
  margin: 0 auto;
  padding: 50px 50px 0;
  max-width: 1400px;
}
#header .container #gnb {
  display: none;
}
#header .container #gnb.on {
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  background-color: #2b38e9;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
#header .container #gnb.on .list {
  display: block;
  position: relative;
  top: 20%;
  transform: translateY(-35%);
}
#header .container #gnb.on .list li {
  transition: all 0.25s ease;
  display: block;
  text-transform: uppercase;
  font-size: clamp(39px, 59 / 1920 * 100vw, 59px);
  font-weight: 500;
  position: relative;
  margin-left: 50px;
  line-height: 2;
  font-family: "Fredoka";
  color: #fff;
}
#header .container .btn-all {
  margin-top: 35px;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
#header .container .btn-all.on {
  width: 100%;
}
#header .container .btn-all.on span {
  background-color: #fff;
}
#header .container .btn-all.on span:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}
#header .container .btn-all.on span:nth-child(2) {
  top: 20px;
  transform: translateX(-100px);
  opacity: 0;
}
#header .container .btn-all.on span:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}
#header .container .btn-all span {
  width: 30px;
  height: 2px;
  position: absolute;
  right: 5px;
  transition: all 0.25s ease;
  background-color: #fff;
}
#header .container .btn-all span:nth-child(1) {
  top: 10px;
}
#header .container .btn-all span:nth-child(2) {
  top: 20px;
}
#header .container .btn-all span:nth-child(3) {
  top: 30px;
}

#footer {
  background-color: #fff;
}
#footer .copyright {
  background-color: #fff;
  padding-bottom: 150px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.btn-top {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  font-size: 18px;
  color: #fff;
  transform: scale(0);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.07);
  opacity: 0;
  transition: all 0.25s ease;
  border-radius: 3px;
  background-color: #2b38e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-top.on {
  bottom: 50px;
  transform: scale(1);
  opacity: 1;
}

@media all and (min-width: 1024px) {
  #header .container #gnb .list li:hover {
    color: hsla(0deg, 0%, 100%, 0);
    -webkit-text-stroke: 1px #fff;
    transition-property: color;
  }
  #header .container #gnb .list li:hover::before {
    content: "";
    width: 30px;
    bottom: 50%;
    transform: translateY(50%);
    left: -50px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    background-color: #fff;
  }
  #main #etc .contents-box .banner ul li a:hover .img {
    filter: brightness(0.3);
    padding: 0;
    box-sizing: border-box;
  }
  #main #etc .contents-box .banner ul li a:hover .txt-box {
    display: flex;
    color: #fff;
  }
}
@media all and (min-width: 720px) {
  #main #main-visual .mask .title .title-box #myBtn {
    cursor: pointer;
  }
  #main #main-visual .mask .title .title-box #myBtn:hover {
    color: #fff;
    opacity: 1;
    transform: rotate(720deg);
  }
  #main #projects .container .banner ul li a:hover .project-img01 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .project-img02 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .project-img03 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .project-img04 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .project-img05 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .project-img06 {
    filter: brightness(0.3);
  }
  #main #projects .container .banner ul li a:hover .view {
    width: 100%;
    left: 0;
    top: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
  }
  #main #projects .container .banner ul li a:hover .view p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(23px, 33 / 1920 * 100vw, 33px);
    font-weight: 500;
    color: #fff;
    width: 220px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 5px;
  }
  #main #projects .container .banner ul li a:hover .txt,
#main #projects .container .banner ul li a:hover button {
    color: #2b38e9;
  }
}
@media all and (max-width: 1280px) {
  #header .container {
    padding: 0px 50px 0;
  }
  #header .container #gnb.on .list li {
    margin-left: 0px;
  }
  #main #main-visual .mask {
    width: 1000px;
  }
  #main .section {
    padding: 100px 0;
    box-sizing: border-box;
  }
  #main #about .container {
    width: 1000px;
  }
  #main #about .container .keyword-box {
    margin-top: 80px;
  }
  #main #about .container .keyword-box li .icon01 {
    left: -20px;
    margin-bottom: 0;
  }
  #main #about .container .keyword-box li .icon02 {
    left: -20px;
    margin-bottom: 0;
  }
  #main #about .container .keyword-box li .icon03 {
    left: -20px;
    margin-bottom: 0;
  }
  #main #about .container .keyword-box li .icon04 {
    left: -20px;
    margin-bottom: 0;
  }
  #main #skills .play svg {
    top: -85px;
    width: 480px;
  }
  #main #skills .mask {
    transform: translateY(30%);
  }
  #main #projects .container {
    width: 1000px;
  }
  #main #projects .container .btn {
    width: auto;
    top: 40%;
  }
  #main #projects .container .banner {
    margin-top: 50px;
  }
  #main #projects .container .banner ul li a .project-img01::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img02::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img03::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img04::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img05::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img06::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .banner ul li a .project-img07::after {
    width: 4px;
    height: 4px;
    margin-top: -487px;
  }
  #main #projects .container .txt {
    list-style: 1.25;
  }
  #main #projects .container .txt .txt-title h3 {
    font-size: 19px;
  }
  #main #projects .container .txt .txt-title .btns {
    margin-top: 10px;
  }
  #main #projects .container .txt .txt-title .btns button {
    font-size: 14px;
  }
  #main #projects .container .txt .txt-title .btns::before {
    font-size: 9px;
  }
  #main #etc .contents-box .banner {
    margin-top: 50px;
  }
  #main #contact .container {
    width: 1000px;
  }
}
@media all and (max-width: 1024px) {
  #main #main-visual .mask {
    width: 700px;
  }
  #main #main-visual .mask .title .txt {
    width: 550px;
    font-size: 16px;
  }
  #main .section {
    padding: 80px 0;
    box-sizing: border-box;
  }
  #main #about .container {
    width: 700px;
  }
  #main #about .container .title-box p {
    font-size: 15px;
  }
  #main #about .container .keyword-box {
    margin-top: 50px;
  }
  #main #about .container .keyword-box li dl dd {
    font-size: 14px;
  }
  #main #skills .play svg {
    width: 480px;
  }
  #main #skills .mask ul {
    left: 55%;
  }
  #main #skills .mask ul li {
    margin: 0 55px;
  }
  #main #projects .container {
    width: 700px;
  }
  #main #projects .container .btn {
    width: auto;
    top: 40%;
  }
  #main #projects .container .banner ul li a .project-img01 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img01::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img02 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img02::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img03 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img03::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img04 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img04::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img05 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img05::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img06 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img06::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .banner ul li a .project-img07 {
    border: 10px solid #222;
  }
  #main #projects .container .banner ul li a .project-img07::after {
    width: 3px;
    height: 3px;
    position: absolute;
    left: 50%;
    z-index: 2;
    content: "";
    border-radius: 100px;
    background-color: #999;
    margin-top: -324px;
  }
  #main #projects .container .txt .txt-title {
    flex-basis: 50%;
  }
  #main #projects .container .txt .txt-title h3 {
    font-size: 18px;
  }
  #main #projects .container .txt .txt-title .btns {
    margin-top: 10px;
  }
  #main #projects .container .txt .txt-title .btns button {
    font-size: 13px;
  }
  #main #projects .container .txt .txt-title .btns::before {
    font-size: 9px;
  }
  #main #projects .container dl dt,
#main #projects .container dl dd {
    display: inline-block;
    line-height: 1.2;
  }
  #main #projects .container dl dt {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
  }
  #main #projects .container dl dd {
    width: 55%;
    font-size: 12px;
  }
  #main #etc .container {
    width: 700px;
  }
  #main #contact .container {
    width: 700px;
  }
  #main #contact .container .contact-main {
    width: 270px;
    word-break: keep-all;
  }
  #main #contact .container .contact-main br {
    content: "";
  }
}
@media all and (max-width: 820px) {
  #main #main-visual .mask {
    width: 700px;
  }
  #main #main-visual .mask .title .txt {
    width: 550px;
    font-size: 16px;
  }
  #main .section {
    padding: 80px 0;
    box-sizing: border-box;
  }
  #main #about .container {
    width: 700px;
  }
  #main #about .container .title-box p {
    font-size: 15px;
  }
  #main #about .container .keyword-box {
    margin-top: 50px;
  }
  #main #about .container .keyword-box li dl dd {
    font-size: 14px;
  }
  #main #skills .play svg {
    width: 430px;
  }
  #main #skills .mask ul li {
    margin: 0 40px;
  }
  #main #projects .container {
    width: 700px;
  }
  #main #projects .container .btn {
    width: auto;
    top: 40%;
  }
  #main #projects .container .txt .txt-title {
    flex-basis: 50%;
  }
  #main #projects .container .txt .txt-title h3 {
    font-size: 18px;
  }
  #main #projects .container .txt .txt-title .btns {
    margin-top: 10px;
  }
  #main #projects .container .txt .txt-title .btns button {
    font-size: 13px;
  }
  #main #projects .container .txt .txt-title .btns::before {
    font-size: 9px;
  }
  #main #projects .container dl dt,
#main #projects .container dl dd {
    display: inline-block;
    line-height: 1.2;
  }
  #main #projects .container dl dt {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
  }
  #main #projects .container dl dd {
    width: 55%;
    font-size: 12px;
  }
  #main #etc .container {
    width: 700px;
  }
  #main #contact .container {
    width: 700px;
  }
  #main #contact .container .contact-main {
    width: 270px;
    word-break: keep-all;
  }
  #main #contact .container .contact-main br {
    content: "";
  }
}
@media all and (max-width: 770px) {
  #main #main-visual .mask {
    width: 600px;
  }
  #main .section {
    padding: 70px 0;
    box-sizing: border-box;
  }
  #main #about .container {
    width: 600px;
  }
  #main #skills .play svg {
    width: 430px;
  }
  #main #skills .mask ul li {
    margin: 0 35px;
  }
  #main #projects .container {
    width: 600px;
  }
  #main #projects .container .btn {
    width: auto;
    top: 40%;
  }
  #main #projects .container .banner ul li a .project-img01::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img02::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img03::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img04::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img05::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img06::after {
    margin-top: -271px;
  }
  #main #projects .container .banner ul li a .project-img07::after {
    margin-top: -271px;
  }
  #main #projects .container .txt .txt-title {
    flex-basis: 40%;
    margin-right: 20px;
  }
  #main #projects .container .txt .txt-title h3 {
    font-size: 16px;
  }
  #main #projects .container .txt .txt-title .btns {
    margin-top: 10px;
  }
  #main #projects .container .txt .txt-title .btns button {
    font-size: 12px;
  }
  #main #projects .container .txt .txt-title .btns::before {
    font-size: 9px;
  }
  #main #projects .container dl dt,
#main #projects .container dl dd {
    display: inline-block;
    line-height: 1.2;
  }
  #main #projects .container dl dt {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
  }
  #main #projects .container dl dd {
    width: 55%;
    font-size: 12px;
  }
  #main #etc .container {
    width: 600px;
  }
  #main #contact .container {
    width: 600px;
  }
  #main #contact .container .contact-main {
    width: 200px;
    word-break: keep-all;
  }
  #main #contact .container .contact-main br {
    content: "";
  }
  #main #contact .container .email-box {
    width: clamp(320px, 33.8541666667vw, 650px);
  }
  #main #contact .container .email-box ul li label {
    margin-right: 10px;
  }
}
@media all and (max-width: 640px) {
  #header .container {
    padding: 0px 30px 0;
  }
  #header .container #logo a img {
    height: 40px;
  }
  #header .container .btn-all {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
  }
  #main #main-visual .mask {
    width: 500px;
  }
  #main #main-visual .mask .title .txt {
    width: 500px;
    font-weight: 300;
    font-size: 15px;
  }
  #main .section {
    padding: 80px 0;
    box-sizing: border-box;
  }
  #main #about .container {
    width: 500px;
  }
  #main #about .container .title-box {
    flex-direction: column;
  }
  #main #about .container .title-box h3 {
    width: 100%;
    margin-bottom: 20px;
  }
  #main #about .container .title-box p {
    width: 100%;
  }
  #main #about .container .keyword-box {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  #main #about .container .keyword-box li {
    width: 50%;
  }
  #main #about .container .keyword-box li:nth-child(even) {
    padding-right: 0;
  }
  #main #skills .mask ul {
    left: 75%;
  }
  #main #skills .mask ul li {
    margin: 0 50px;
  }
  #main #projects .mask .container {
    width: 500px;
    margin-bottom: 50px;
    position: relative;
  }
  #main #projects .mask .container .projects-pagination {
    z-index: 1;
    position: relative;
    width: 100%;
    top: 480px;
    display: flex;
    justify-content: center;
  }
  #main #projects .mask .container .projects-pagination .swiper-pagination-bullet {
    border-radius: 0;
    width: 50px;
    height: 2px;
    background-color: #ececec;
    border-radius: 2px;
    opacity: 1;
  }
  #main #projects .mask .container .projects-pagination .swiper-pagination-bullet-active {
    width: 120px;
    height: 4px;
    transition: width 0.5s;
    border-radius: 2px;
    background: #2b38e9;
    position: relative;
    top: -1px;
  }
  #main #projects .mask .container .btn {
    display: none;
  }
  #main #projects .mask .container .banner ul li a {
    padding: 0 0;
  }
  #main #projects .mask .container .banner ul li a .project-img01::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img02::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img03::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img04::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img05::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img06::after {
    margin-top: -272px;
  }
  #main #projects .mask .container .banner ul li a .project-img07::after {
    margin-top: -272px;
  }
  #main #etc .container {
    width: 500px;
  }
  #main #contact {
    height: 1000px;
  }
  #main #contact .container {
    width: 500px;
  }
  #main #contact .container .contact-main {
    width: 100%;
    word-break: keep-all;
  }
  #main #contact .container .contact-main a {
    margin-top: 30px;
    color: #2b38e9;
    border: 2px solid #2b38e9;
    background-color: #fff;
  }
  #main #contact .container .contact-main br {
    display: block;
  }
  #main #contact .container .email-box {
    top: 330px;
    width: 100%;
  }
  #main #contact .container .email-box ul li label {
    margin-right: 10px;
  }
  #main #contact .container .email-box .btns {
    text-align: end;
  }
}
@media all and (max-width: 420px) {
  #main .section {
    padding: 70px 0;
    box-sizing: border-box;
  }
  #main .section:nth-child(1) {
    padding: 0;
  }
  #main #main-visual {
    height: 88vh;
  }
  #main #main-visual #myVideo {
    width: 100%;
    top: 0;
  }
  #main #main-visual .mask {
    width: 300px;
  }
  #main #main-visual .mask .title .title-box h2 {
    line-height: 1.2;
  }
  #main #main-visual .mask .title .title-box h2 p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  #main #main-visual .mask .title .txt {
    width: 280px;
    font-weight: 300;
    font-size: 13px;
  }
  #main #main-visual .mask .title .txt br {
    display: none;
  }
  #main #about .container {
    width: 300px;
  }
  #main #about .container .title-box {
    flex-direction: column;
  }
  #main #about .container .title-box h3 {
    width: 100%;
    font-size: 39px;
    line-height: 1.3;
    margin-bottom: 30px;
  }
  #main #about .container .title-box p {
    width: 100%;
    font-size: 18px;
  }
  #main #about .container .title-box p br {
    display: block;
  }
  #main #about .container .keyword-box {
    margin-top: 30px;
    flex-direction: column;
  }
  #main #about .container .keyword-box li {
    width: 100%;
    padding: 0;
    display: flex;
    margin-top: 20px;
  }
  #main #about .container .keyword-box li .icon01 {
    left: -25px;
  }
  #main #about .container .keyword-box li .icon02 {
    left: -25px;
  }
  #main #about .container .keyword-box li .icon03 {
    left: -25px;
  }
  #main #about .container .keyword-box li .icon04 {
    left: -25px;
  }
  #main #about .container .keyword-box li dt {
    font-size: 25px;
  }
  #main #about .container .keyword-box li dd {
    margin-top: 10px;
    font-size: 18px !important;
  }
  #main #skills .play svg {
    width: 350px;
  }
  #main #skills .mask ul {
    left: 115%;
  }
  #main #projects .mask .container {
    width: 350px;
    margin-bottom: 50px;
  }
  #main #projects .mask .container .projects-pagination {
    top: 495px;
    width: 350px;
  }
  #main #projects .mask .container .projects-pagination .projects-pagination .swiper-pagination-bullet {
    width: 30px;
  }
  #main #projects .mask .container .projects-pagination .projects-pagination .swiper-pagination-bullet-active {
    width: 50px;
    background: #333;
  }
  #main #projects .mask .container .btn {
    width: auto;
    top: -30px;
    padding: 0;
  }
  #main #projects .mask .container .btn-prev {
    font-size: 20px;
    left: 0px;
  }
  #main #projects .mask .container .btn-next {
    font-size: 20px;
    right: 0px;
  }
  #main #projects .mask .container .banner {
    margin-top: 40px;
  }
  #main #projects .mask .container .banner ul li a .project-img01 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img01::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img02 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img02::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img03 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img03::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img04 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img04::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img05 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img05::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img06 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img06::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .banner ul li a .project-img07 {
    border: 6px solid #222;
    border-radius: 6px;
  }
  #main #projects .mask .container .banner ul li a .project-img07::after {
    width: 2px;
    height: 2px;
    margin-top: -190px;
  }
  #main #projects .mask .container .txt {
    padding-top: 20px;
    flex-direction: column;
    position: relative;
  }
  #main #projects .mask .container .txt .txt-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-right: 0;
  }
  #main #projects .mask .container .txt .txt-title h3 {
    font-size: 21px;
    position: absolute;
    left: 20px;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  #main #projects .mask .container .txt .txt-title .btns {
    margin: 0 0 5px;
    width: 115%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b38e9;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 50px;
    border: 2px solid #2b38e9;
  }
  #main #projects .mask .container .txt .txt-title .btns button {
    font-size: 15px;
    color: #2b38e9;
  }
  #main #projects .mask .container .txt .txt-title .btns::before {
    font-size: 12px;
    top: 17px;
    left: 120px;
  }
  #main #projects .mask .container dl {
    margin-top: 20px;
  }
  #main #projects .mask .container dl dt,
#main #projects .mask .container dl dd {
    display: inline-block;
    line-height: 1.5;
  }
  #main #projects .mask .container dl dt {
    width: 30%;
    font-size: 14px;
    font-weight: 500;
  }
  #main #projects .mask .container dl dd {
    width: 65%;
    font-size: 12px;
  }
  #main #etc .container {
    width: 300px;
  }
  #main #etc .container .contents-box {
    margin-bottom: 30px;
  }
  #main #etc .container .contents-box .banner {
    margin-top: 40px;
  }
  #main #etc .container .contents-box .banner .etc-pagination {
    bottom: -35px;
  }
  #main #contact {
    height: 1000px;
  }
  #main #contact .container {
    width: 300px;
  }
  #main #contact .container .contact-main {
    width: 100%;
    word-break: keep-all;
  }
  #main #contact .container .contact-main a {
    margin-top: 30px;
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 2px solid #2b38e9;
    background-color: #2b38e9;
    border-radius: 5px;
  }
  #main #contact .container .email-box {
    top: 380px;
    width: 100%;
  }
  #main #contact .container .email-box ul li label {
    flex-basis: 30%;
  }
  #main #contact .container .email-box ul li input {
    flex-basis: 69%;
    font-family: none;
  }
  #main #contact .container .email-box ul li #contents {
    height: 180px;
  }
  #main #contact .container .email-box .btns .btn-send {
    width: 100%;
  }
  #footer {
    background-color: #fff;
  }
  #footer .copyright {
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 80px 0;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
  }
  .btn-top {
    display: none;
  }
}
@media all and (max-width: 380px) {
  #main #main-visual {
    height: 100vh;
  }
  #main #main-visual #myVideo {
    width: 100%;
    top: -45px;
  }
  #main #main-visual .mask {
    width: 300px;
  }
  #main #about .container {
    width: 300px;
  }
  #main #skills .play svg {
    width: 350px;
  }
  #main #skills .mask ul li {
    margin: 0 40px;
  }
}
@media all and (max-width: 290px) {
  #main .section {
    padding: 50px 0;
  }
  #main #main-visual {
    height: 80vh;
  }
  #main #main-visual #myVideo {
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
  }
  #main #main-visual .mask {
    width: 245px;
    height: 38%;
  }
  #main #main-visual .mask .title .title-box #myBtn span {
    font-size: 18px;
  }
  #main #main-visual .mask .title .title-box h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  #main #main-visual .mask .title .title-box h2 p {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #main #main-visual .mask .title .txt {
    width: 250px;
    font-weight: 300;
    font-size: 11px;
  }
  #main #main-visual .mask .title .txt br {
    display: none;
  }
  #main #about .container {
    width: 250px;
  }
  #main #about .container .title-box h3 {
    font-size: 30px;
  }
  #main #about .container .title-box p {
    width: 100%;
    font-size: 15px;
  }
  #main #about .container .keyword-box li {
    margin-top: 10px;
  }
  #main #about .container .keyword-box li dt {
    font-size: 23px;
  }
  #main #about .container .keyword-box li dd {
    font-size: 15px !important;
  }
  #main #skills .play svg {
    width: 250px;
  }
  #main #skills .play svg path {
    stroke-width: 1px;
  }
  #main #skills .mask ul {
    left: 125%;
  }
  #main #skills .mask ul li {
    margin: 0 20px;
  }
  #main #projects .mask .container {
    width: 100%;
  }
  #main #projects .mask .container .projects-pagination {
    width: 100%;
    top: 450px;
  }
  #main #projects .mask .container .projects-pagination .swiper-pagination-bullet {
    width: 25px;
  }
  #main #projects .mask .container .projects-pagination .swiper-pagination-bullet-active {
    width: 45px;
  }
  #main #projects .mask .container .btn {
    font-size: 20px;
    padding: 10px;
    top: -33px;
  }
  #main #projects .mask .container .banner {
    margin-top: 30px;
  }
  #main #projects .mask .container .banner ul li a {
    padding: 0 10px;
  }
  #main #projects .mask .container .banner ul li a .project-img01 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img01::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img02 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img02::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img03 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img03::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img04 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img04::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img05 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img05::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img06 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img06::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .banner ul li a .project-img07 {
    border: 5px solid #222;
  }
  #main #projects .mask .container .banner ul li a .project-img07::after {
    width: 1px;
    height: 1px;
    margin-top: -141px;
  }
  #main #projects .mask .container .txt .txt-title .btns::before {
    left: 80px;
  }
  #main #projects .mask .container .txt dl dt {
    width: 40%;
  }
  #main #projects .mask .container .txt dl dd {
    width: 55%;
  }
  #main #etc .container {
    width: 250px;
  }
  #main #contact {
    height: 900px;
  }
  #main #contact .container {
    width: 250px;
  }
  #main #contact .container .contact-main {
    width: 100%;
    word-break: keep-all;
  }
  #main #contact .container .contact-main p {
    font-size: 15px;
  }
  #main #contact .container .contact-main p br {
    display: none;
  }
  #main #contact .container .contact-main a {
    margin-top: 30px;
    width: 100%;
    font-family: "Noto Sans KR";
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: 2px solid #2b38e9;
    background-color: #2b38e9;
    border-radius: 5px;
  }
  #main #contact .container .contact-main a span {
    font-size: 13px;
  }
  #main #contact .container .email-box {
    top: 330px;
    width: 100%;
  }
  #main #contact .container .email-box ul li label {
    display: block;
    flex-basis: 30%;
    font-size: 15px;
  }
  #main #contact .container .email-box ul li input {
    display: block;
    flex-basis: 60%;
  }
  #main #contact .container .email-box ul li #contents {
    width: 100%;
    height: 180px;
  }
}