@charset "UTF-8";
html {
  font-size: 10px;
}

body {
  font-family: "Roboto Slab", "Noto Sans KR";
  font-size: 1.6rem;
  min-height: 5000px;
}

h2 {
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 3.2vw;
  font-weight: 700;
  text-align: center;
  color: rgb(48, 43, 38);
  text-transform: uppercase;
}

h3 {
  font-size: 1.2vw;
  font-weight: 400;
  text-align: center;
  color: rgba(48, 43, 38, 0.8);
}
h3 strong {
  font-weight: 700;
}

.txtBox {
  font-size: 4.8rem;
  color: #111;
  line-height: 1.5;
}
.txtBox.bold {
  font-weight: 500;
}

.container {
  width: 1440px;
  position: relative;
  margin: auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 0 100px;
}
#header #logo {
  font-size: 24px;
  font-weight: 700;
}
#header #logo a {
  display: block;
  padding: 50px 0;
}
#header .btnAll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
}
#header .btnAll span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #111;
}
#header .btnAll span:nth-child(2) {
  margin: 10px 0;
}

#main .txtContents {
  word-break: keep-all;
}
#main .txtContents .main {
  font-size: 2vw;
  font-weight: 200;
}
#main .txtContents .main strong {
  position: relative;
  font-size: 2.8vw;
  font-weight: 400;
  line-height: 1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#main .txtContents .sub {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.6);
}
#main .no {
  display: block;
  width: 50px;
  height: 1px;
  margin: 50px 0;
  content: "";
  background-color: #999;
  transform-origin: 0 50%;
}
#main .imgContents .prince img {
  width: 25vw;
  z-index: 2;
}
#main .prince img {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
#main #mainVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8e1;
}
#main #mainVisual .title {
  font-size: 6vw;
  font-weight: 400;
  text-align: center;
  color: rgb(48, 43, 38);
  letter-spacing: 0.05em;
}
#main #mainVisual .subTitle {
  margin-top: 50px;
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  color: rgba(48, 43, 38, 0.8);
  letter-spacing: -0.01em;
}
#main #mainVisual .rose01 {
  position: absolute;
  top: 100px;
  left: 100px;
}
#main #mainVisual .rose01 img {
  width: 150px;
}
#main #mainVisual .rose02 {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
#main #mainVisual .rose02 img {
  width: 600px;
}
#main #introduce {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
#main #introduce .container {
  display: flex;
  align-items: center;
}
#main #introduce .main strong:before {
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 15px;
  left: -5px;
  z-index: -1;
  content: "";
  background-color: rgb(106, 216, 4);
  border-radius: 100px;
  transform-origin: 0 50%;
}
#main #introduce02 {
  position: relative;
  min-height: 100vh;
}
#main #introduce02 .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  min-height: 100vh;
}
#main #introduce02 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../images/main/bgDoorLine.png") repeat-x left 0 bottom 0;
}
#main #introduce02 .door {
  position: relative;
  z-index: 2;
  margin-bottom: 250px;
  perspective: 500px;
}
#main #introduce02 .door .door-in {
  position: absolute;
  top: 20px;
  left: 20px;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
}
#main #introduce02 .me {
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 1.5vw;
  font-weight: 100;
  transform: translateY(calc(-50% - 100px));
}
#main #introduce02 .me p {
  margin: 20px 0;
}
#main #introduce02 .me strong {
  position: relative;
  font-weight: 700;
}
#main #introduce02 .me strong:before {
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 2px;
  left: -5px;
  z-index: -1;
  content: "";
  background-color: rgb(37, 185, 243);
  border-radius: 100px;
  transform-origin: 0 50%;
}
#main #portfolio .txtContents {
  padding-top: 100px;
  overflow-x: hidden;
}
#main #portfolio .center {
  position: relative;
  text-align: center;
}
#main #portfolio .main strong:before {
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 14px;
  left: -5px;
  z-index: -1;
  content: "";
  background-color: rgb(224, 221, 2);
  border-radius: 100px;
  transform-origin: 0 50%;
}
#main #portfolio .no {
  margin: 50px auto;
}
#main #portfolio .prince {
  margin-top: 100px;
}
#main #portfolio .prince img {
  height: 700px;
}
#main #portfolioList {
  margin-top: 200px;
}
#main #portfolioList .container {
  display: block;
}
#main #portfolioList h2 {
  margin-top: 0;
  margin-bottom: 0;
}
#main #portfolioList .no {
  margin: 50px auto;
}
#main #portfolioList ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
}
#main #portfolioList ul li {
  flex-basis: 33.33%;
  position: relative;
  margin: 50px 0;
  font-family: "Noto Sans KR";
  text-align: center;
}
#main #portfolioList ul li a:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
#main #portfolioList ul li a:hover .title {
  transform: translate(-50%, -50%) scale(3);
  opacity: 1;
}
#main #portfolioList ul li a:before {
  display: block;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0);
  background: linear-gradient(0deg, rgba(255, 163, 196, 0.5) 0%, rgba(255, 234, 188, 0.2) 100%);
  transition: all 0.25s ease;
  content: "";
  border-radius: 100%;
}
#main #portfolioList ul li a .title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 700;
  color: rgb(48, 43, 38);
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all 0.25s ease;
}
#main #portfolioList ul li .desc {
  width: 100%;
  position: absolute;
  bottom: -50px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(48, 43, 38, 0.8);
}
#main #portfolioList ul li a .img {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}
#main #portfolioList ul li a .img img {
  width: 50%;
}
#main #rose {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
}
#main #rose .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#main #rose .txtContents p {
  word-break: keep-all;
}
#main #rose .txtContents p strong {
  position: relative;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
#main #rose .txtContents p strong:before {
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 15px;
  left: -5px;
  z-index: -1;
  content: "";
  background-color: rgb(150, 30, 248);
  border-radius: 100px;
  transform-origin: 0 50%;
}
#main #rose .txtContents p.main {
  font-weight: 300;
}
#main #rose .imgContents .prince img {
  width: 25vw;
}
#main #skill {
  padding-bottom: 100px;
}
#main #skill h2 {
  margin-top: 10px;
  margin-bottom: 60px;
}
#main #skill .no {
  margin: 50px auto;
}
#main #skill .skillBox {
  display: block;
  margin-top: 100px;
}
#main #skill .skillBox > ul {
  display: flex;
  justify-content: center;
}
#main #skill .skillBox > ul > li {
  width: 33.33%;
  position: relative;
  margin: 0 50px;
}
#main #skill .skillBox > ul > li .flowers {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
#main #skill .skillBox > ul > li .num {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2vw;
  transform: translate(-50%, -50%);
  text-indent: 10px;
}
#main #skill .skillBox > ul > li .num .txt {
  display: inline-block;
  font-size: 4vw;
  vertical-align: baseline;
}
#main #skill .skillBox > ul > li h3 {
  width: 100%;
  position: absolute;
  bottom: -100px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: rgb(48, 43, 38);
}
#main #contact {
  position: relative;
  padding: 300px 0 100px;
  min-height: 100vh;
}
#main #contact .ship {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #contact .ship img {
  width: 300px;
}
#main #contact .center {
  position: relative;
  text-align: center;
}
#main #contact .main strong:before {
  display: block;
  height: 10px;
  position: absolute;
  right: -5px;
  bottom: 14px;
  left: -5px;
  z-index: -1;
  content: "";
  background-color: rgb(204, 7, 0);
  border-radius: 100px;
  transform-origin: 0 50%;
}
#main #contact .no {
  margin: 50px auto;
}
#main #contact .info {
  font-size: 2vw;
}
#main #contact .info .infoBox {
  margin: 50px 0;
}
#main #contact .prince {
  margin-top: 100px;
  text-align: center;
}
#main #contact .prince img {
  height: 600px;
}

.cursor {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 300px;
  left: 300px;
  z-index: 9999999;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
  transition: background-color 0.25s ease, color 0.25s ease, font-size 0.25s ease, font-weight 0.25s ease, transform 0.25s ease;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  cursor: none;
}
.cursor .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.cursor img {
  width: 30px;
}

.iconScroll {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 50%;
  z-index: 5;
  z-index: 999999;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.2em; /* 알파벳 글자하나의 크기를 1em(M)으로 보는 단위 */
  transform: translateX(-50%);
  transition: all 0.25s ease;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.iconScroll:before {
  display: block;
  width: 16px;
  height: 30px;
  margin: 0 auto 10px;
  border: 2px solid #fff;
  content: "";
  border-radius: 100px;
}
.iconScroll:after {
  display: block;
  width: 3px;
  height: 5px;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  -webkit-animation: scrollAni 0.3s ease infinite alternate;
          animation: scrollAni 0.3s ease infinite alternate;
  background-color: #fff;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: -1000px;
  left: 100px;
  border: 3px solid #ccc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.popup .img-box {
  padding: 50px;
}
.popup .message {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}
.popup img {
  width: 400px;
}
.popup .btns {
  display: flex;
}
.popup .btns button {
  flex-basis: 50%;
  height: 50px;
  background-color: #ccc;
}
.popup .btns button.btn-oneday {
  color: #fff;
  background-color: #111;
}

.email-box {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}
.email-box input,
.email-box textarea {
  height: 50px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-family: "Noto Sans KR";
  font-size: 18px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  outline: none;
}
.email-box textarea {
  height: 200px;
  padding: 10px;
  resize: none;
}
.email-box .btns button {
  width: 180px;
  height: 50px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #fff;
  background-color: #111;
  border-radius: 5px;
}

.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  transition: all 0.25s ease;
}
.message-box.on {
  opacity: 1;
  pointer-events: auto;
}
.message-box .txt {
  display: block;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.message-box .btn-close {
  width: 100px;
  height: 50px;
  margin-top: 50px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
}